@media screen and (max-width: 700px){
    header{
        display: none;
    }
    #container{
        flex-direction: column;
    }
    .aboutMe{
        width: 100%;
    }
}
body{
    margin: auto;
    padding: 30px;
    font-family: Arial;
}
#header{
    background-color: #0AB6A5;
    text-align: center;
    font-size: 35px;
    color: white;
    vertical-align: middle;
    line-height: 170px;
    height: 180px;
}
nav{
    background-color: #383C3C ;
    height: 50px;
}
ul{
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
ul, ol{
    list-style: none;
}
nav li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 13px 22px;
    display: block;
    float: left;
}
nav li  a:hover {
    background-color: #434343;
}
#container{
    display: flex;
}
.aboutMe {
    height: 500px;
    background-color: #E3E8E8;
}
.titleHeading {
    width: 100%;
    height: 500px;
    background-color: white;
}
.image{
    width: 100%;
    height: 210px;
    background-color: #B3B5B5;
}
.textImage{
    padding: 20px 20px;
}
article{
    padding: 25px 25px;
}
footer{
    background-color: #DDDADA;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 100px;
    height: 100px;
}

